/* Responsive Layout v1.5.0 Copyright @2010-2012 Joe Workman */
#stacks_in_908_page17 .jwresp_wrapper{width:100%;overflow:auto}#stacks_in_908_page17 .jwresp_col{overflow:hidden;vertical-align:top;margin:0;width:69%;float:left}#stacks_in_908_page17 #jwresp_col2_stacks_in_908_page17{float:right;width:29%}@media screen and (max-width:500px){#stacks_in_908_page17 #jwresp_col1_stacks_in_908_page17,#stacks_in_908_page17 #jwresp_col2_stacks_in_908_page17{width:100%;float:none;display:block}#stacks_in_908_page17 #jwresp_col1_stacks_in_908_page17{margin-bottom:15px}}
/* PageLime v2.3.2 Copyright @2010-2012 Joe Workman */
.cms-guide-blocker-container{z-index:1000001!important}.cms-bubble{z-index:1000002!important} 

#stacks_in_910_page17 {
	margin: 26px 0px 0px 80px;
	padding: 10px 0px 0px 0px;
}
/* Fluid Image v1.9.0 Copyright @2010-2012 Joe Workman */
#stacks_in_913_page17 img{ behavior:url(/resources/PIE.htc);width:100% ;height:auto ;min-width:50px ;           }

#stacks_in_913_page17 {
	margin: 5px 0px 3px 0px;
	padding: 0px 0px 3px 0px;
}

#stacks_in_908_page17 {
	background-color: #769FEC;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}



.nimblehost_myMenuOuterWrapper_stacks_in_1025_page17 { 
	margin: 0;
	padding: 0;
	
	position: absolute;
	
	z-index: 100; 
	
	position: relative;
	
	
}

.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17, .nimblehost_myMenu_stacks_in_1025_page17 ul ul, .nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle p { 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 {
	
	
	background-color: #5189E3;
	background: linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -o-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -moz-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -moz-linear-gradient(100% 100% 90deg, #5189E3, #5189E3);
	background: -webkit-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5189E3), to(#5189E3));
	background: -ms-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5189E3, endColorstr=#5189E3)";/* For IE 8 */
	
}
@-moz-document url-prefix() {  }
.nimblehost_myMenuLabel_stacks_in_1025_page17 {
	
	display: none;
	
	color: #5189E3;
}

.nimblehost_myMenu_stacks_in_1025_page17 { 
	padding: 0 5px;
	
	
}
.nimblehost_myMenu_stacks_in_1025_page17 ul { 
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
	width: auto;
	
	
	min-height: 33px;
	
	
	
}

.nimblehost_myMenu_stacks_in_1025_page17 ul li, .customMenuItems li { 
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	display: block;
	background-image: none !important;
	position: relative;
	
	display: inline-block;
	
}

.customMenuItems, .customMenuItems .stacks_out, .customMenuItems .stacks_in {
	display: block;
	
	display: inline;
	
}

.nimblehost_myMenu_stacks_in_1025_page17 ul li a, .customMenuItems li a { 
	margin: 0;
	padding: 0 12px;
	display: block;
	text-align: left;
	text-decoration: none;
	line-height: 33px;
	color: #FFFFFF;
	
	
	zoom: 1;
}
.nimblehost_myMenu_stacks_in_1025_page17 ul li a:hover, .customMenuItems li a:hover { 
	color: #E232FF;
	background-color: #769FEC;
}
.nimblehost_myMenu_stacks_in_1025_page17 ul li a:active, .customMenuItems li a:active {
	-webkit-box-shadow:inset 0 0 3px black;
	-moz-box-shadow:inset 0 0 3px black;
	box-shadow:inset 0 0 3px black;
}
.nimblehost_myMenu_stacks_in_1025_page17 ul li a#current, .nimblehost_myMenu_stacks_in_1025_page17 ul li a.current {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #5189E3;
	color: #E18CE1;
	-webkit-box-shadow:inset 0 0 3px black;
	-moz-box-shadow:inset 0 0 3px black;
	box-shadow:inset 0 0 3px black;
	border: none;
}

.nimblehost_myMenu_stacks_in_1025_page17 ul li.ddarrow a { padding-right: 22px !important; }
.nimblehost_myMenu_stacks_in_1025_page17 ul ul li.ddarrow a { padding-right: 12px !important; }

.nimblehost_myMenu_stacks_in_1025_page17 ul li.ddarrow .childIndicator, .nimblehost_myMenu_stacks_in_1025_page17 ul .customMenuItems li.ddarrow .childIndicator { 
	position:absolute;
	top:8px;
	right:3px;
	float:right;
	height: 17px;
	width: 17px;
	background: transparent url(../files/ddarrowDown.png) center center no-repeat;
}

.nimblehost_myMenu_stacks_in_1025_page17 ul ul li.ddarrow .childIndicator, .nimblehost_myMenu_stacks_in_1025_page17 ul .customMenuItems ul li.ddarrow .childIndicator {
	background-image: url(../files/ddarrow.png);
}

.nimblehost_myMenu_stacks_in_1025_page17 .customMenuItems .stacks_out, .nimblehost_myMenu_stacks_in_1025_page17 .customMenuItems .stacks_in { overflow: visible; }

/* Second Level Menu Items */
.nimblehost_myMenu_stacks_in_1025_page17 ul ul {
	border: none;
	margin: 0;
	padding: 5px 0 !important;
	height: auto;
	position: absolute;
	width: 500px;
	z-index: 101; 
	top: 33px;
	left: 0;
	display: none;
	background-color: #5189E3;
	
	
	background: linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -o-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -moz-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -moz-linear-gradient(100% 100% 90deg, #5189E3, #5189E3);
	background: -webkit-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5189E3), to(#5189E3));
	background: -ms-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5189E3, endColorstr=#5189E3)";/* For IE 8 */
	
}

.nimblehost_myMenu_stacks_in_1025_page17 ul ul li { 
	
	display: block;
	
}

.nimblehost_myMenu_stacks_in_1025_page17 ul ul li a { 
	width: auto;
	
	border-top: solid 1px #5189E3;
	border-bottom: solid 1px #5189E3;
	
	
}

.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul {
	top: -5px;
	left: 500px;
}

.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle { display: none; }


@media screen and (max-width: 480px) {
	.nimblehost_myMenuOuterWrapper_stacks_in_1025_page17, .nimblehost_myMenuOuterWrapper_stacks_in_1025_page17[style] {
		position: absolute !important;
		top: 0;
		bottom: auto;
		left: 0 !important;
		width: 100% !important;
		top: 44px;
	}

	.nimblehost_myMenuLabel_stacks_in_1025_page17 { display: none; }

	.nimblehost_myMenu_stacks_in_1025_page17 ul, .nimblehost_myMenu_stacks_in_1025_page17 ul ul { width: 100%; }

	.nimblehost_myMenu_stacks_in_1025_page17 ul ul, .nimblehost_myMenu_stacks_in_1025_page17 ul ul ul { position: relative; left: auto; top: auto; padding: 0 !important; margin: 0; background: transparent; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; box-shadow: none; }

	.nimblehost_myMenu_stacks_in_1025_page17 ul ul li a { padding-left: 20px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul li a { padding-left: 40px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul li a { padding-left: 60px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul li a { padding-left: 80px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul ul li a { padding-left: 100px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul ul ul li a { padding-left: 120px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul ul ul ul li a { padding-left: 140px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul ul ul ul ul li a { padding-left: 160px; }
	.nimblehost_myMenu_stacks_in_1025_page17 ul ul ul ul ul ul ul ul ul ul li a { padding-left: 180px; }

	.nimblehost_myMenu_stacks_in_1025_page17 ul li.ddarrow .childIndicator, .nimblehost_myMenu_stacks_in_1025_page17 ul ul li.ddarrow .childIndicator, .nimblehost_myMenu_stacks_in_1025_page17 ul .customMenuItems li.ddarrow .childIndicator { width: 17px; background-image: url(../files/ddarrowDown.png); }

	.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle {
		margin: 0;
		padding: 0;
		display: block;
		color: #5189E3;
		position: fixed;
		z-index: 1000;
		top: 0;
		
		
		
		right: 0;

	}

	.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle p {
		margin: 0;
		padding: 10px 5px;
		height: 23px;
		text-align: right;
		
		background: linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
		background: -o-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
		background: -moz-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
		background: -moz-linear-gradient(100% 100% 90deg, #5189E3, #5189E3);
		background: -webkit-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5189E3), to(#5189E3));
		background: -ms-linear-gradient(bottom, #5189E3 0%, #5189E3 100%);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5189E3, endColorstr=#5189E3)";/* For IE 8 */
		
		
	}

	.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle .mt-bar-wrapper { display: inline-block; width: 30px; }

	.nimblehost_myMenuInnerWrapper_stacks_in_1025_page17 .myMenu_mobileToggle .mt-bar { display: block; margin: 2px 5px; width: 20px; height: 3px; border-radius: 2px; background-color: #5189E3; border-top: solid 1px #284471; border-bottom: solid 1px #79CDFF; }

	.nimblehost_myMenu_stacks_in_1025_page17 { padding-top: 5px; display: none; }
}	



#stacks_in_1025_page17 {
	border: solid #5189E3;
	border-width: 10px 20px 0px 60px;
}
/* Fluid Columns v1.0.3 Copyright @2010-2012 Joe Workman */
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-o-transition-property:top,left,opacity;transition-property:transform,opacity}.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}#stacks_in_1193_page17 .fluid_cell{margin:0px;float:left;overflow:hidden;position:relative;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px} #stacks_in_1193_page17 .stamp{float:right;width:250px;height:200px}  #stacks_in_1193_page17 .fluid_cell{width:20%} 
/* PageLime v2.3.2 Copyright @2010-2012 Joe Workman */
.cms-guide-blocker-container{z-index:1000001!important}.cms-bubble{z-index:1000002!important} 

#stacks_in_1195_page17 {
	margin: 20px 5px 5px 20px;
}
/* PageLime v2.3.2 Copyright @2010-2012 Joe Workman */
.cms-guide-blocker-container{z-index:1000001!important}.cms-bubble{z-index:1000002!important} 

#stacks_in_1198_page17 {
	margin: 5px 0px 0px 0px;
}
#stacks_in_1201_page17_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_1201_page17 a:link, #stacks_in_1201_page17 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_1201_page17 a:hover, #stacks_in_1201_page17 a:active {
	color:#FFFFFF;
}







#stacks_in_1201_page17 a:link, #stacks_in_1201_page17 a:visited {
	background-color:#FFAFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFAFFF), to(#A869A8));
	border:1px solid #A869A8;
	padding:3px 20px;
	border-radius:30px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_1201_page17 a:hover {
	background-color:#FFBDFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBDFF), to(#925B92));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_1201_page17 a:active {
	background-color:#FFAFFF;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}




#stacks_in_1201_page17 {
	margin: 10px 0px 0px 0px;
}
/* PageLime v2.3.2 Copyright @2010-2012 Joe Workman */
.cms-guide-blocker-container{z-index:1000001!important}.cms-bubble{z-index:1000002!important} 

#stacks_in_1204_page17 {
	margin: 5px 0px 0px 20px;
}
/* PageLime v2.3.2 Copyright @2010-2012 Joe Workman */
.cms-guide-blocker-container{z-index:1000001!important}.cms-bubble{z-index:1000002!important} 

#stacks_in_1207_page17 {
	margin: 5px 20px 5px 5px;
}

#stacks_in_1193_page17 {
	background-color: #5189E3;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}
/* Tumblr v3.4.9 Copyright @2010-2012 Joe Workman */
 #custom_images_stacks_in_65_page17{display:none} #custom_images_stacks_in_65_page17{text-align:center;display:none;}#custom_images_stacks_in_65_page17 div{width:100px;display:inline-block}#stacks_in_65_page17 a:link,#stacks_in_65_page17 a:visited,#stacks_in_65_page17 a:active{text-decoration:none}#stacks_in_65_page17 a img{border:0}#stacks_in_65_page17 h1,#stacks_in_65_page17 h2,#stacks_in_65_page17 h3,#stacks_in_65_page17 h4,#stacks_in_65_page17 h5,#stacks_in_65_page17 h6{color:#111111;font-weight:bold;margin:0;padding:0;padding-bottom:.5em}#stacks_in_65_page17 blockquote{border-left:2px solid #CCCCCC;margin:0 1em 1.5em;padding:0 1em}#stacks_in_65_page17 blockquote ul,#stacks_in_65_page17 blockquote ol{margin-left:2em}#stacks_in_65_page17 :focus{outline:0}.tumblr-refresh{display:block;height:32px;width:75px;position:fixed;bottom:0;left:0;z-index:9999}.tumblr-refresh a{display:none;height:32px;width:32px;float:left;margin:0;padding:0}#tumblr-posts-stacks_in_65_page17{margin:30px auto}#stacks_in_65_page17 .post{display:block;position:relative;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-moz-box-shadow:2px 2px 3px #666;-webkit-box-shadow:2px 2px 3px #666;box-shadow:2px 2px 3px #666}#stacks_in_65_page17 .post.outside_date{margin-bottom:50px;margin-left:6em}#stacks_in_65_page17 .post.inline_date{margin-bottom:70px}#stacks_in_65_page17 .tumblr_error{font-size:18px;margin:0 auto;text-align:center}#stacks_in_65_page17 .hidden_error{display:none}#stacks_in_65_page17 .post-content{overflow:hidden;font-size:14px;color:#666666;padding:15px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;border-radius-topright:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px;border-radius-topleft:10px}#stacks_in_65_page17 .post-content p{margin:0 0 1.5em}#stacks_in_65_page17 .post-content ul{list-style:disc;margin-bottom:1.5em}#stacks_in_65_page17 .post-content ol{list-style:decimal;margin-bottom:1.5em}#stacks_in_65_page17 .post-content h3{min-height:25px;color:#111111;font-size:24px;margin-bottom:24px;line-height:1.3em;margin-right:60px}#stacks_in_65_page17 .post-content h3 a{color:#111111;font-size:24px;text-decoration:none}#stacks_in_65_page17 .post-content img{height:auto;max-width:100%}#stacks_in_65_page17 .post .caption,#stacks_in_65_page17 .post .source{margin-top:1.5em}#stacks_in_65_page17 .post .reblogged{font-size:11px;background:url(../files/tumblr-images/reblogged.png) no-repeat left center;margin:0;padding:0;padding-left:16px;margin-left:10px}@media screen and (max-width:320px){#stacks_in_65_page17 .post-content h3 a,#stacks_in_65_page17 .post-content h3{font-size:19px}}#stacks_in_65_page17 .date.outside_date{border-top:2px solid #CCCCCC;position:absolute;left:-6em;top:5px;text-align:center;width:4em}#stacks_in_65_page17 .date.outside_date .permalink{font-size:18px;color:#6699CC;font-variant:small-caps;line-height:1.25;text-decoration:none;text-transform:lowercase}#stacks_in_65_page17 .date.outside_date .day,#stacks_in_65_page17 .date .month{display:block}#stacks_in_65_page17 .date.outside_date .month{font-size:1.3em;line-height:1.15384615385}#stacks_in_65_page17 .date.inline_date .permalink{font-size:18px;color:#6699CC;line-height:1.25;text-decoration:none;float:right;position:absolute;top:-1.4em;right:0;margin-right:10px}@media screen and (max-width:320px){#stacks_in_65_page17 .date.inline_date .permalink{font-size:.9em}}#stacks_in_65_page17 .text{background-image:url(../files/tumblr-images/text2.png);background-position:98% 10px;background-repeat:no-repeat}#stacks_in_65_page17 .answer{background-image:url(../files/tumblr-images/answer2.png);background-position:98% 10px;background-repeat:no-repeat}#stacks_in_65_page17 .answer h3{margin-bottom:0}#stacks_in_65_page17 .answer .asking_name{color:#666666;margin-bottom:24px}#stacks_in_65_page17 .answer .asking_name a{color:#666666}#stacks_in_65_page17 .link{background-image:url(../files/tumblr-images/link2.png);background-position:98% 10px;background-repeat:no-repeat}#stacks_in_65_page17 .post-content.link h3 a{text-decoration:underline}#stacks_in_65_page17 .video{background-image:url(../files/tumblr-images/video2.png);background-position:98% 10px;background-repeat:no-repeat;padding-top:70px}#stacks_in_65_page17 .video .caption{display:block}#stacks_in_65_page17 .audio{background-image:url(../files/tumblr-images/audio2.png);background-position:98% 10px;background-repeat:no-repeat;padding-top:70px}#stacks_in_65_page17 .audio a{text-decoration:none}#stacks_in_65_page17 .audio .player_wrapper{font-size:13px;height:109px;position:relative;width:100%}#stacks_in_65_page17 .audio .artwork,.audio .track{overflow:visible;height:109px;float:left;position:relative}#stacks_in_65_page17 .audio .artwork{margin-right:10px}#stacks_in_65_page17 .audio .artwork img{float:left}#stacks_in_65_page17 .audio .track_name{font-size:18px;font-weight:bold}#stacks_in_65_page17 .audio .player_footer{font-size:10px}#stacks_in_65_page17 .audio .audio_source{float:right}#stacks_in_65_page17 .audio .player{position:absolute;bottom:0;white-space:nowrap;overflow:visible}#stacks_in_65_page17 .audio .caption{clear:both}#stacks_in_65_page17 .chat{background-image:url(../files/tumblr-images/chat2.png);background-position:98% 10px;background-repeat:no-repeat}#stacks_in_65_page17 .chat ul{list-style:none;margin:0 0 1.5em;padding:0}#stacks_in_65_page17 .chat ul li.odd{color:#666666}#stacks_in_65_page17 .chat ul li .who{background:#333333;color:#666666;padding:0 .25em}
#stacks_in_65_page17 .chat ul li.odd .who{background:#666666;color:#333333}#stacks_in_65_page17 .photo,#stacks_in_65_page17 .photoset{background-image:url(../files/tumblr-images/photo2.png);background-position:98% 10px;background-repeat:no-repeat;padding-top:70px}#stacks_in_65_page17 .photo .image{position:relative}#stacks_in_65_page17 .photo .image a{display:block}#stacks_in_65_page17 .photo img,#stacks_in_65_page17 .photoset img{max-height:500px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}#fullprint{display:none;min-height:128px;min-width:128px;overflow:visible}#fullprint.loading{background:url(../files/tumblr-images/loading.gif) no-repeat center center;top:35%!important}#fullprint img{max-width:1280px;-moz-box-shadow:#1f1f1f 0 2px 10px;-webkit-box-shadow:#1f1f1f 0 2px 10px;box-shadow:#1f1f1f 0 2px 10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}#fullprint .close{display:none;background-image:url(../files/tumblr-images/close.png);position:absolute;left:-12px;top:-12px;cursor:pointer;height:28px;width:28px}#fullprint a{display:block;width:50%;position:absolute;top:0;height:1000px;text-decoration:none}#fullprint a.prev_photo{left:0}#fullprint a.next_photo{right:0}#stacks_in_65_page17 .photoset .photoset-gallery{position:relative;width:100%;overflow:auto}#stacks_in_65_page17 .photoset .photoset-gallery img{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}#stacks_in_65_page17 .photoset .photoset-gallery .image{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;float:left;width:75px;height:75px;margin:10px;-moz-box-shadow:2px 2px 3px #666;-webkit-box-shadow:2px 2px 3px #666;box-shadow:2px 2px 3px #666}#stacks_in_65_page17 .photoset-cycler{position:relative;display:block;height:500px;text-align:center}#stacks_in_65_page17 .quote{background-image:url(../files/tumblr-images/quotes2.png);background-position:98% 10px;background-repeat:no-repeat}#stacks_in_65_page17 .quote .quote-words{background:url(../files/tumblr-images/quote.png) no-repeat top left;background-position:0 0;font-size:1.3em;line-height:1.15384615385;padding-left:45px;margin-right:60px}#stacks_in_65_page17 .quote .source{padding-left:20px}#stacks_in_65_page17 .post-footer{padding:5px 10px;color:#333333;background-color:#B4FAFF;border-top:1px solid #CCCCCC;font-size:11px;display:block;position:relative;-moz-border-radius-bottomright:10px;-webkit-border-bottom-right-radius:10px;border-radius-bottomright:10px;-moz-border-radius-bottomleft:10px;-webkit-border-bottom-left-radius:10px;border-radius-bottomleft:10px}#stacks_in_65_page17 .post-footer{}#stacks_in_65_page17 .post-footer a,#stacks_in_65_page17 .post-footer a:hover{color:#333333}#stacks_in_65_page17 .post-footer p{padding:0;margin:0;padding-right:18px}#stacks_in_65_page17 .post-footer .posttime{font-weight:normal;background:url(../files/tumblr-images/clock.png) no-repeat right center}#stacks_in_65_page17 .post-footer .tags{background:url(../files/tumblr-images/tags.png) no-repeat right center}#stacks_in_65_page17 .post-footer a.tag{margin:0 5px;display:inline-block}#stacks_in_65_page17 .post-footer .comments{background:url(../files/tumblr-images/comments.png) no-repeat right center}#stacks_in_65_page17 .post-footer .share_button{height:20px;width:100px;padding:0;margin:5px 0;display:block;position:relative;overflow:visible}#stacks_in_65_page17 .post-footer .share_button.twitter,.share_button.google{display:inline;float:left}#stacks_in_65_page17 .post-footer .share_button.twitter.en,.post-footer .share_button.twitter.nl,.post-footer .share_button.twitter.id,.post-footer .share_button.twitter.it,.post-footer .share_button.twitter.ko{width:110px}#stacks_in_65_page17 .post-footer .share_button.twitter.fr,.post-footer .share_button.twitter.es{width:118px}#stacks_in_65_page17 .post-footer .share_button.twitter.pt,.post-footer .share_button.twitter.ru,.post-footer .share_button.twitter.tr{width:120px}#stacks_in_65_page17 .post-footer .share_button.twitter.de{width:122px}#stacks_in_65_page17 .post-footer .share_button.twitter.ja{width:130px}#stacks_in_65_page17 .post-footer .share_button_wrapper{height:60px;display:block;float:left;width:250px}#stacks_in_65_page17 .post-footer .meta_wrapper{display:block;text-align:right;float:right}#stacks_in_65_page17 .post-footer .clear-footer{clear:both}@media screen and (max-width:500px){#stacks_in_65_page17 .post-footer .meta_wrapper{display:block;text-align:left;float:left;width:100%!important}#stacks_in_65_page17 .post-footer p{padding:0;margin:0;padding-left:18px}#stacks_in_65_page17 .post-footer .posttime{font-weight:normal;background:url(../files/tumblr-images/clock.png) no-repeat left center}#stacks_in_65_page17 .post-footer .tags{background:url(../files/tumblr-images/tags.png) no-repeat left center}#stacks_in_65_page17 .post-footer a.tag{margin:0 5px;display:inline-block}#stacks_in_65_page17 .post-footer .comments{background:url(../files/tumblr-images/comments.png) no-repeat left center}}#stacks_in_65_page17 .post_nav{font-size:18px;width:100%}#stacks_in_65_page17 .post_nav .older_posts{float:right}#stacks_in_65_page17 .post_nav .newer_posts{float:left}#facebook_thread{text-align:center}#disqus_thread li{list-style:none!important}

#stacks_in_65_page17 {
	background-color: #D8F9FF;
	margin:  10px;
	padding:  10px;
}
